body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}


h1, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
}

p {
    color: greenyellow;
}

h1 {
    color: white;
}